<header class="d-flex mb-3 pt-5 justify-content-between">
  <h2>Manager</h2>
  <button class="btn btn-primary" routerLink="/list/add">Add Product</button>
</header>
<div class="row">
    <h1>Product Manager</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Tên Sản Phẩm</th>
            <th scope="col">Gía</th>
            <th scope="col">Đánh giá</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let product of products">
          <tr>
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.desc}}</td>
            <div *ngIf="selected">
              <td>${{selected.price}}</td>
              <td>{{selected.desc}}</td>
              </div>
            <td>
            <button class="btn btn-primary" routerLink="/list/{{product.id}}">Detail</button>
            <button class="btn btn-info ml-3" routerLink="/list/edit/{{product.id}}">Edit</button>
            <button class="btn btn-danger ml-3" >Delete</button>
            </td>
                          <!-- <button class="btn btn-primary d-block w-100 btn-lg" (click)="detailProduct(product)">
              Detail</button> -->
              <!-- <td><button class="btn btn-primary d-block w-100 btn-lg" (click)="removeItem(product.id)">delete</button></td> -->
          </tr>     
        </tbody>
      </table>  
