<div class="row">
    <h1>Product Manager</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Tên Sản Phẩm</th>
            <th scope="col">Gía</th>
            <th scope="col">Đánh giá</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let product of products">
          <tr>
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <div *ngIf="selected">
              <td>${{selected.price}}</td>
              <td>{{selected.desc}}</td>
              </div>
            <td><button class="btn btn-primary d-block w-100 btn-lg" (click)="detailProduct(product)">
              Detail</button></td>
              <td><button class="btn btn-primary d-block w-100 btn-lg" (click)="removeItem(product.id)">delete</button></td>
          </tr>     
        </tbody>
      </table>  
<div ngClass="col-lg-4 col-md-6 mb-4"  *ngFor="let product of products">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" [src]="product.img" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{product.name}}</a>
          </h4>
          <h5>${{product.price}}</h5>
          <p class="card-text">{{product.desc}}</p>
          <!-- <p class="card-text">{{product.status ? 'OnStock' : 'OutStock'}}</p> -->
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <div class="card-footer">
            <!-- <button class="btn btn-primary" (click)="changeStatus()">Click</button> -->
            <!-- <input type="text" (keyup)="changeName($event)" > -->
            <!-- <button class="btn btn-primary d-block w-100 btn-lg" (click)="detailProduct(product)">
              click me
            </button> -->
            
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>
